:root{
    --c1:#FFFFFF;/*bg*/
    --c2: #2c3735;/*dark fonts*/
    --c3:#2E8B57;/*:active*/
    --c4: #4fe993;/*links,buttons*/
    --c5:#e0ffc8;/*light fonts*/
}



*{
    margin:0;
    padding: 0;
}
body{background-color: var(--c1);color:var(--c2);}
ul{list-style: none;}
a{text-decoration: none;color:var(--c4);display: block;}

header{text-align: center;}
#nav{position: sticky;top:0;border-top: 3px solid var(--c2)}
#nav>ul{
    background-color: var(--c2);
    display: flex;
    justify-content: center;
}
#nav li{
    padding: 0 20px;
    background-color: var(--c2);
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#nav li:hover{
    background-color: var(--c3);
}
#nav li:hover a{
    color:var(--c5);
}

#main{
    background-color: var(--c1);
}
#main>article{
    padding: 10px 50px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    top:40px;
    position: sticky;
    background: var(--c1);
    border-top: 3px solid var(--c2);
}